
    <!-- ## PAGE WRAPPER ## -->
<div id="page-wrapper">

    <!-- ## PAGE ## -->
    <section id="page">

        <!-- ## FIXY WRAPPER ## -->
        <div id="fixy">
            <!-- ## PAGE HEADER ## -->
            <header id="page-header">
                <h1>Studio.</h1>
            </header>

        </div>
        <!-- ## FIXY WRAPPER END ## -->

        <!-- ## PAGE CONTENT ## -->
        <div class="container">
            <section id="page-content">

                <!-- IMAGE GALLERY -->
                <ul id="imgGallery" class="clearfix">
                    <% for (var i = 15; i >= 0; i--) { %>
                        <span itemscope itemtype="http://schema.org/ImageObject">
                            <li><img src="./assets/img/studio_pictures/<%= i %>.jpg" alt="Unbend Records Studio <%= i %>" itemprop="contentUrl"/></li>
                        </span>
                    <% }; %>
                </ul>
                <!-- IMAGE GALLERY END -->

                <!-- POST CONTENT -->
                <div class="postContent clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sint fuga optio quaerat quas laboriosam aspernatur. Assumenda consectetur quasi in deleniti maiores voluptatem consequuntur? Possimus corporis sint ratione excepturi quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quia perferendis voluptate id obcaecati esse quae repudiandae eum quasi voluptates eaque doloribus animi quo amet ipsam itaque rem odit reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <!-- POST CONTENT END -->

            </section>
        </div>
        <!-- ## PAGE CONTENT END ## -->

    </section>
    <!-- ## PAGE END ## -->

</div>