
    <!-- ## PAGE WRAPPER ## -->
<div id="page-wrapper">

    <!-- ## PAGE ## -->
    <section id="page">

        <!-- ## FIXY WRAPPER ## -->
        <div id="fixy">
            <!-- ## PAGE HEADER ## -->
            <header id="page-header">
                <h1>Studio.</h1>
            </header>

        </div>
        <!-- ## FIXY WRAPPER END ## -->

        <!-- ## PAGE CONTENT ## -->
        <div class="container">
            <section id="page-content">

                <!-- IMAGE GALLERY -->
                <ul id="imgGallery" class="clearfix">
                    <% for (var i = 15; i >= 0; i--) { %>
                        <span itemscope itemtype="http://schema.org/ImageObject">
                            <li><img src="./assets/img/studio_pictures/<%= i %>.jpg" alt="Unbend Records Studio <%= i %>" itemprop="contentUrl"/></li>
                        </span>
                    <% }; %>
                </ul>
                <!-- IMAGE GALLERY END -->

                <!-- POST CONTENT -->
                <div class="postContent clearfix">
                    <p>The studio is in Brussels and equipped to work on any kind of project (recording, editing, mixing, post-production, sound-design, you name it!). The control room is 100% hand-made and Jade (soundtrack) is always ready to work her 64 channels to please you. The 2 places-couch give you the perfect comfort and view to enjoy working on your project.</p>
                    <br />
                    <p>We can work fully digital or mix and export on analog tape.</p>
                    <br />
                    <p>Our acoustically treated live room, is the perfect crime scene for to develop your projects.</p>
                    <br />
                    <p>We are proud to possess two SAS (100% hand made), ensuring a good isolation from sound and light.</p>
                    <br />
                    <p>The lounge room is equipped with a fridge, an arcade and tons of magazines</p>
                    <br />
                    <p>Unbend Records is also equipped to follow your project outside of our wall if necessary.</p>
                    <br />
                    <p>We will be happy to welcome you in our studio.</p>

                </div>
                <!-- POST CONTENT END -->

            </section>
        </div>
        <!-- ## PAGE CONTENT END ## -->

    </section>
    <!-- ## PAGE END ## -->

</div>